.navbar 
{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    width: 98%;
    max-width: 1440px;
    margin: auto;
    
}
.navbar-local
{
    justify-content: space-between;
    flex-direction: column;
}
.navbar-service
{
justify-content: space-between;
flex-direction: column;
}
.navbar-login
{
    justify-content: space-between;
    flex-direction: column;
}
.icon
{
    margin: 1px 1px 1px 1px;
    padding: 20px ;
    
}
.footer-block
{
    width: 100%;
    max-width: 1440px;
    background-color: grey;
    background: #F2F2F2;
    flex-direction: column; justify-content: space-between;
    
}
.footer-title
{
    justify-content: initial;
    font-size: 18px;
    margin-bottom: 15px;
    
}
.footer-link
{
flex-direction: column;
justify-content: space-between;

}
.footer
{
 flex-direction: column;
 justify-content: space-between;
 
}
.logo
{
    padding: 1px;
    margin: auto;
    border: unset;
}
.filtres ul
{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}
.filtres ul li
{
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: solid 2px #e2e2e2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 400px;
    font-weight: 800;
    font-family: "Font Awesome 5 Free";
}
.filtres ul li :hover
{
    cursor: pointer;
    background: aquamarine;
    transition-duration: 10px;
    

.body
{
    font-family:  raleway ,sans-serif;
    margin: 0px;
}
header
{
    width: 98%;
    max-width: 1440px;
    margin: auto;
}
.button
{       
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
   
}
.button-research
{
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}
.icon-localisation
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 14px 0 0 14px;
}
.research-box
{
    display: -webkit-inline-flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 35px;
}
.div
{
    display: inline;

}
.ul
{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.populaires-img
{
    border-radius: 50px solid black;
    margin: auto;
    padding: auto;
}
.case-text
{
    align-items: center;
    border-radius: 25px;
    border: solid black ;
}








 